importFrom("Matrix", "sparseMatrix", "bdiag", "rowSums", "colSums", "summary")
import("AnnotationDbi")
importFrom("ggm", "transClos")
importFrom("stats", "p.adjust", "phyper")
importFrom("utils", "flush.console", "read.table", "write.table")
importFrom("tools", "file_ext", "file_path_sans_ext")
import("org.Hs.eg.db")
importFrom("GO.db", "GOBPPARENTS", "GOBPANCESTOR", "GOBPCHILDREN", "GOBPOFFSPRING", "GOMFPARENTS", "GOMFANCESTOR", "GOMFCHILDREN", "GOMFOFFSPRING", "GOCCPARENTS", "GOCCANCESTOR", "GOCCCHILDREN", "GOCCOFFSPRING")

export("adjMatrixTermsAncestors")
export("certainty")
export("checkORAparameters")
export("dbtORA")
export("drawORA")
export("GOroot2TermPaths")
export("hypergeoTest")
export("importance")
export("infoValue")
# export("NCBI2GeneName")
export("ontologyNr")
export("ORA")
export("ORAfilename")
export("plotGOgraph")
export("remarkableness")
export("termDescription")
export("termId")
export("termNr")
export("termpathsHeadlines")
export("termsAncestors")
export("updateORAdatabase")
export("WriteORAresults")
 